<div class="container">
    <h3 class="text-center">Productos</h3>
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <form>
                <div class="row">
                    <div class="col-md-6 col-xl-6">
                        <div class="mb-3">
                            <label for="productId" class="form-label">Código</label>
                            <input type="text" class="form-control" id="productId" />
                        </div>
                        <div class="mb-3">
                            <label for="productName1" class="form-label">Nombre 1</label>
                            <input type="text" class="form-control" id="productName1" />
                        </div>
                        <div class="mb-3">
                            <label for="productName2" class="form-label">Nombre 2</label>
                            <input type="text" class="form-control" id="productName2" />
                        </div>
                        <div class="mb-3">
                            <label for="productPrice" class="form-label">Precio</label>
                            <input type="number" class="form-control" id="productPrice" />
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="mb-3">
                            <label for="productCategory" class="form-label">Categoría</label>
                            <select class="form-select" id="productCategory">
                                <option selected>Seleccione...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="productBrand" class="form-label">Marca</label>
                            <select class="form-select" id="productBrand">
                                <option selected>Seleccione...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="productTax" class="form-label">Impuesto</label>
                            <input type="number" class="form-control" id="productTax" />
                        </div>
                        <div class="mb-3">
                            <label for="productDiscount" class="form-label">Descuento</label>
                            <input type="number" class="form-control" id="productDiscount" />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Crear</button>
            </form>
        </div>
    </div>
</div>